*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  zoom: 1;
}
/* ------------------------------------------------ */
body {
  font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  background-color: #fbfbfd;
  overflow-x: hidden;
}

header {
  text-align: center;
  background-color: rgb(45, 45, 45);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.nav-link {
  text-decoration: none;
  margin: 0 10px;
  color: white;
  width: 5%;
  display: inline-block;
}

.nav-link img {
  vertical-align: middle;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  margin-top: 30px;
}

.hero-text > p {
  margin-top: 20px;
}

.bold {
  font-weight: bold;
  font-size: 42px;
}

.thin {
  font-weight: lighter;
  font-size: 20px;
}

.hero-link {
  color: #06c;
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
}

.hero-image {
  z-index: -1;
  margin-top: -200px;
}

.subhero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.products {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.products a {
  width: 25%;
  text-decoration: none;
}

.products img {
  width: 100%;
  height: auto;
}

.recall {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.recall-link {
  text-decoration: none;
  color: #06c;
}

footer {
  background-color: #efefef;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: grey;
  display: flex;
}

footer li {
  margin-top: 10px;
  font-size: 14px;
}

ul .title {
  color: black;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.second-list {
  margin-top: 30px;
}

.footer-end-1 {
  padding-bottom: 10px;
  border-bottom: 2px solid #d7d7d7;
}

.footer-end-1 a {
  display: inline-block;
  margin-top: 30px;
}

.footer-end-2 {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 1em;
  background-color: #acacac;
  margin: 0 0.5em;
  vertical-align: middle;
}
.copyright {
  display: flex;
  gap: 40px;
}

.legal {
  display: flex;
}
